body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.container {
	display: flex;
	align-items: center;
	height: 100vh;
}

.photo {
	flex: 1;
	text-align: center;
}

.photo img {
	width: 320px;
	height: 400px;
	border-radius: 50%;
	margin: 20px;
}

.info {
	flex: 1;
}
.centerdiv a{
  margin-left: 10px;
  size: 5rem;

}
.info h1 {
	font-size: 4rem;
  display: inline-block;
}
.typewriter {
	font-size: 2rem;
	margin-left: 50px;
	overflow: hidden;
	border-right: .15em solid orange;
	white-space: nowrap;
	animation: typing 1s steps(30, end), blink-caret .3s step-end infinite;
}

@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: orange }
}
